$sy-red: #e44d3a;
$sy-red-disabled: #ed8b7f;

$sy-login-red: #e75348;
$sy-login-grey: #f7f7f7;

$sy-border-grey: #e5e5e5;
$sy-input-border-grey: #e5e5e5;
$sy-input-content-grey: #b2b2b2;
$sy-footer-text-grey: #b2b2b2;
$sy-profile-background: #f2f2f2;
$sy-block-border-grey: #e4e4e4;