@import "colors";

.sy-input {
  color: $sy-input-content-grey;
  font-size: 14px;
  border: 1px solid $sy-border-grey;
  border-radius: 2px;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.sy-btn {
  color: white;
  background-color: $sy-red !important;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border-radius: 2px;

  &:hover, &:active, &:focus {
    color: white !important;
    background-color: $sy-red !important;
  }

  &:disabled {
    background-color: $sy-red-disabled !important;
    border-color: $sy-red-disabled !important;
    cursor: not-allowed !important;
  }
}

.sy-link {
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
  }
}